.profile__add-button-icon{
    width: 22px;
    height: 22px;
    padding: 7px 56px;
}

@media screen and (max-width: 840px) {
    .profile__add-button-icon{
        padding: 13px 123px;
        height: 16px;
    }
}