.edit-form__save-button-text{
    margin: 14px 125px 18px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
}

@media screen and (max-width: 500px) {
    .edit-form__save-button-text{
        font-size: 14px;
        line-height: 17px;
        margin: 14px 82px;
    }
}